<div layout-gt-md="row">
  <panel-widget flex="25" flex-md="25" title="Sexo" template="app/views/partials/ub/usuarios_sex.html" ></panel-widget>
  <panel-widget flex="75" flex-md="75" title="Edades" template="app/views/partials/ub/usuarios_edad.html" ></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Sexo" template="app/views/partials/ub/usuarios_sex_seq.html" options="true"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Edades" template="app/views/partials/performance.html" options="true"></panel-widget>
</div>
